
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '../fonts/iconic/font/css/open-iconic.scss';


// Pages
@import 'pages/_products';
@import 'pages/_orders';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app-container {
  padding-top: 4rem;
}

footer {
  background-color: #583867;
  margin-top: 7rem;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;

  & div.footer-content {
    padding-top: 2rem;
  }

  & a{
    color: #fff;
  }
}

nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #c9ccd8 !important;
}

span.required-field {
  color: #dc0909;
}

.btn { 
  font-family: 'Noto Sans', sans-serif; 
  font-size: 16px; 
  text-transform: capitalize; 
  font-weight: 700; 
  padding: 12px 36px; 
  border-radius: 4px; 
  line-height: 2; 
  letter-spacing: 0px; 
  -webkit-transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  transition: all 0.3s; 
  word-wrap: break-word; 
  white-space: normal !important; 

  &-default { 
    background-color: #0943c6; 
    color: #fff; 
    border: 1px solid #0943c6; 

    &:hover { 
      background-color: #063bb3; 
      color: #fff; 
      border: 1px solid #063bb3; 
    }

    &.focus,
    &:focus { 
      background-color: #063bb3; 
      color: #fff; 
      border: 1px solid #063bb3; 
    }
  }
}


