
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '../fonts/iconic/font/css/open-iconic.scss';


// Pages
@import 'pages/_products';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app-container {
  padding-top: 4rem;
}

footer {
  background-color: #583867;
  margin-top: 7rem;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;

  & div.footer-content {
    padding-top: 2rem;
  }

  & a{
    color: #fff;
  }
}

nav.navbar.navbar-expand-lg.navbar-light {
  background-color: #c9ccd8 !important;
}

span.required-field {
  color: #dc0909;
}